Repository KomalVikas13/Online-Banking-System, pull requests merged in 2024-09, with the labels that each got.

#2 test commit
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/dto/AccountDTO.java
Labels: backend, API logic

#5 Test1
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/dto/AccountDTO.java
Labels: backend

#6 Registration page
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/dto/AccountDTO.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/dto/CustomerDTO.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/model/Account.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/service/AccountService.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/service/CustomerService.java
  Frontend/src/App.jsx
  Frontend/src/components/LoginPage.jsx
  Frontend/src/components/Registration.jsx
Labels: backend, css, react

#7 routings added
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/src/App.jsx
  Frontend/src/components/LoginPage.jsx
  Frontend/src/components/ResetPassword.jsx
  Frontend/src/main.jsx
  Frontend/yarn.lock
Labels: react

#8 Registration page
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/dto/AccountDTO.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/dto/CustomerDTO.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/model/Account.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/model/Customer.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/model/Transaction.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/repo/CustomerRepo.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/service/AccountService.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/service/CustomerService.java
  Frontend/src/App.jsx
  Frontend/src/assets/images/Register.png
  Frontend/src/components/Registration.jsx
Labels: backend, database

#9 Mail setup
  Backend/.idea/misc.xml
  Backend/OnlineBankingSystem/pom.xml
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/controller/CustomerController.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/dto/CustomerDTO.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/model/Customer.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/model/Token.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/repo/TokenRepo.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/service/MailService.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/service/OTPService.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/service/TokenService.java
  Backend/OnlineBankingSystem/src/main/resources/application.properties
Labels: backend, database

#10 OTP page implemented
  Frontend/src/App.jsx
  Frontend/src/components/OTPpage.jsx
  package-lock.json
Labels: frontend, css

#11 Split components
  Backend/.idea/misc.xml
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/service/CustomerService.java
  Backend/OnlineBankingSystem/src/main/resources/application.properties
  Frontend/src/App.jsx
  Frontend/src/components/EmailPage.jsx
  Frontend/src/components/ResetPassword.jsx
Labels: frontend, react

#12 Registration modifcation be
  Backend/.idea/misc.xml
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/controller/CustomerController.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/model/Customer.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/service/CustomerService.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/service/MailService.java
  Backend/OnlineBankingSystem/src/main/resources/application.properties
Labels: backend, API logic

#13 OTP page implemented
  Frontend/src/components/OTPpage.jsx
Labels: css, react

#15 Be modifications
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/controller/CustomerController.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/dto/CustomerDTO.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/service/CustomerService.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/service/MailService.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/service/TokenService.java
  Backend/OnlineBankingSystem/src/main/resources/application.properties
Labels: bug, backend

#16 verify otp
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/controller/CustomerController.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/controller/DashboardController.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/service/OTPService.java
  Backend/OnlineBankingSystem/src/main/resources/application.properties
Labels: backend, API logic

#17 Api integration
  Backend/.idea/misc.xml
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/controller/AccountController.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/controller/CustomerController.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/dto/CustomerDTO.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/model/Customer.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/service/CustomerService.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/service/PasswordGeneratorService.java
  Backend/OnlineBankingSystem/src/main/resources/application.properties
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/src/App.jsx
  Frontend/src/components/LoginPage.jsx
  Frontend/src/components/MessagePage.jsx
  Frontend/src/components/OTPpage.jsx
  Frontend/src/components/Registration.jsx
  Frontend/src/formRules.js
  Frontend/src/main.jsx
  Frontend/yarn.lock
Labels: backend, frontend, css, database, API logic

#18 Dashboard
  Backend/.idea/misc.xml
  Backend/OnlineBankingSystem/pom.xml
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/config/MvcConfig.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/controller/CustomerController.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/controller/DashboardController.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/dto/AccountDTO.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/dto/CustomerDTO.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/model/Account.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/service/AccountService.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/service/CustomerService.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/service/DashboardService.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/service/OTPService.java
  Backend/OnlineBankingSystem/src/main/resources/application.properties
Labels: backend, frontend, API logic

#19 Dashboard
  Frontend/package-lock.json
  Frontend/package.json
  Frontend/src/App.jsx
  Frontend/src/components/Dashboard.jsx
  Frontend/src/components/Home.jsx
  Frontend/src/components/LoginPage.jsx
  Frontend/src/components/OTPpage.jsx
  Frontend/src/components/Sidebar.jsx
  Frontend/src/components/Test.jsx
  Frontend/yarn.lock
Labels: frontend, css

#20 Api integration
  Backend/.idea/misc.xml
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/controller/CustomerController.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/model/Account.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/service/CustomerService.java
  Backend/OnlineBankingSystem/src/main/resources/application.properties
  Frontend/index.html
  Frontend/src/App.jsx
  Frontend/src/components/EmailPage.jsx
  Frontend/src/components/LoginPage.jsx
  Frontend/src/components/OTPpage.jsx
  Frontend/src/components/ResetPassword.jsx
Labels: backend, frontend, css, react, API logic

#22 Added dashboard details & UI Modifications
  Backend/OnlineBankingSystem/src/main/resources/application.properties
Labels: enhancement, frontend, css

#23 Api integration
  Backend/.idea/misc.xml
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/controller/AccountController.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/dto/AccountDTO.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/model/Account.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/repo/AccountRepo.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/service/AccountService.java
  Backend/OnlineBankingSystem/src/main/resources/application.properties
  Frontend/src/App.jsx
  Frontend/src/components/AddAccount.jsx
  Frontend/src/components/Home.jsx
  Frontend/src/components/OTPpage.jsx
Labels: backend, frontend, css, react, API logic

#26 user-profile-completed
  Backend/.idea/misc.xml
  Backend/OnlineBankingSystem/src/main/resources/application.properties
  Frontend/src/App.jsx
  Frontend/src/components/Profile.jsx
  Frontend/src/components/Sidebar.jsx
Labels: enhancement, frontend, css, API logic

#29 components modifications
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/controller/CustomerController.java
  Frontend/src/components/Home.jsx
  Frontend/src/components/MessagePage.jsx
  Frontend/src/components/Profile.jsx
  Frontend/src/utilities/DateFormating.js
Labels: bug, enhancement, backend, frontend, css

#30 Payment transfer
  Backend/.idea/misc.xml
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/controller/TransactionController.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/repo/TransactionRepo.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/service/TransactionService.java
  Backend/OnlineBankingSystem/src/main/resources/application.properties
  Frontend/src/App.jsx
  Frontend/src/components/AddAccount.jsx
  Frontend/src/components/Home.jsx
  Frontend/src/components/LoginPage.jsx
  Frontend/src/components/MyAccounts.jsx
  Frontend/src/components/PaymentTransfer.jsx
  Frontend/src/components/Sidebar.jsx
  Frontend/src/utilities/DateFormating.js
Labels: backend, frontend, react, database, API logic

#31 UI modifications
  Frontend/src/components/Home.jsx
Labels: bug, css

#32 Transaction history API and service layer completed
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/model/Transaction.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/repo/AccountRepo.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/service/TransactionService.java
  Frontend/src/App.jsx
  Frontend/src/components/PaymentTransfer.jsx
  Frontend/src/components/Sidebar.jsx
  Frontend/src/components/Transaction.jsx
  Frontend/src/components/TransactionHistory.jsx
Labels: backend, frontend, react, database, API logic

#35 updated recurring
  Backend/.idea/uiDesigner.xml
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/controller/RecurringTransactionController.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/model/RecurringTransaction.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/repo/RecurringTransactionRepo.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/service/RecurringTransactionService.java
  Frontend/src/App.jsx
  Frontend/src/components/BillPayment.jsx
  Frontend/src/components/PaymentTransfer.jsx
  Frontend/src/components/Registration.jsx
  Frontend/src/components/SuccessPayment.jsx
Labels: enhancement, backend, frontend, css, react, database, API logic

#36 Update add acccount
  Backend/.idea/misc.xml
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/controller/AccountController.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/controller/RecurringTransactionController.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/model/RecurringTransaction.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/repo/RecurringTransactionRepo.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/service/AccountService.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/service/RecurringTransactionService.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/service/TransactionService.java
  Backend/OnlineBankingSystem/src/main/resources/application.properties
  Frontend/src/components/AddAccount.jsx
Labels: backend, frontend, database, API logic

#37 Recurring
  Backend/.idea/misc.xml
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/controller/RecurringTransactionController.java
  Backend/OnlineBankingSystem/src/main/java/com/project_14/OnlineBankingSystem/service/RecurringTransactionService.java
  Backend/OnlineBankingSystem/src/main/resources/application.properties
  Frontend/src/components/BillPayment.jsx
  Frontend/src/components/MyAccounts.jsx
  Frontend/src/components/SuccessPayment.jsx
  Frontend/src/components/Transaction.jsx
Labels: bug, enhancement, backend, frontend, react, database, API logic

#38 Insufficient balance bug fixed in AddAccount component
  Backend/.idea/misc.xml
  Backend/OnlineBankingSystem/src/main/resources/application.properties
  Frontend/src/components/AddAccount.jsx
  Frontend/src/components/Transaction.jsx
  Frontend/src/components/TransactionHistory.jsx
Labels: bug, frontend
